.app-header-wrapper {
    width: 100%;
    /* height: 40px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.app-title {
    font-size: 100px;
    font-weight: bold;
}